<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mSmart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0079B16926A1F15900DDD222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0079B17F26A1F15C00DDD222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0079B18A26A1F15C00DDD222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
